.bounce-enter-active
  animation: bounce-in .5s
.bounce-leave-active
  animation: bounce-in .5s reverse

@keyframes bounce-in
  0%
    transform: scale(0)
  50%
    transform: scale(1.2)
  100%
    transform: scale(1)


.modal-enter
  opacity: 0

.modal-leave-active
  opacity: 0

.modal-enter .modal-container,
.modal-leave-active .modal-container
  -webkit-transform: scale(1.1)
  transform: scale(1.1)


.fade-enter-active, .fade-leave-active
  transition: opacity .5s

.fade-enter, .fade-leave-to
  opacity: 0


.fadeIn-enter-active
  transform: rotate(0deg)


.fadeIn-enter
  transform: rotate(360deg)

.spinAnimation
  animation: spin  700ms
  @-moz-keyframes spin
    from
      -moz-transform : rotate(0deg)
    to
      -moz-transform : rotate(360deg)

  @-webkit-keyframes spin
    from
      -webkit-transform: rotate(0deg)
    to
      -webkit-transform : rotate(360deg)

  @keyframes spin
    from
      transform : rotate(0deg)
    to
      transform : rotate(360deg)

@keyframes bounce
  0%
    transform: translateY(0)
  100%
    transform: translateY(-7px)

.bounce-7
  animation-name: bounce-7
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1)

  @keyframes bounce-7
    0%
      transform: scale(1,1) translateY(0)
    10%
      transform: scale(1.1,.9) translateY(0)
    30%
      transform: scale(.9,1.1) translateY(-100px)
    50%
      transform: scale(1.05,.95) translateY(0)
    57%
      transform: scale(1,1) translateY(-7px)
    64%
      transform: scale(1,1) translateY(0)
    100%
      transform: scale(1,1) translateY(0)
